<div class="container-fluid" data-controller="home">
  <h1 class="text-center">Search Github public repos</h1>
  <div class="row justify-content-center">
    
    <div class="col-sm-4"></div>
    <div class="col-xs-12 col-sm-4">
		<div data-autocomplete-url="/autocomplete">
		    <input data-target="home.autofield"  class="form-control" placeholder="Repo name here.."/>
		</div>
    </div>
    <div class="col-sm-4"></div>
  </div>

</div>

